<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

    <ion-buttons slot="start">
      <ion-button fill="clear" strong="true" routerDirection="back" (click)="goBack()">
        <ion-icon slot="icon-only" aria-hidden="true" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Account Summary</ion-title>

    <ion-buttons slot="end" (click)="openUserModal('edit', user)">
      <ion-button>
        <ion-label>Edit</ion-label>
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ng-container *ngIf="safeLogo(); else fallbackChipLogo">
          <ion-thumbnail style="margin: auto; width: 100px; height: 100px; aspect-ratio: 1/1;">
            <img [src]="safeLogo()">
          </ion-thumbnail>
        </ng-container>
        <ng-template #fallbackChipLogo>
          <ion-thumbnail style="margin: auto; width: 100px; height: 100px; aspect-ratio: 1/1;">
            <ion-icon name="person-circle-outline" style="width: 100px; height: 100px; aspect-ratio: 1/1;"
              color="medium"></ion-icon>
          </ion-thumbnail>
        </ng-template>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-item-group>

          <ion-list lines="inset">
            <ion-item>
              <ion-input label="Account Name" label-placement="stacked" value="{{user.name}}" disabled="true">
                <ion-icon color="medium" slot="start" name="person"></ion-icon>
              </ion-input>
              <ion-button color="warning" fill="clear">
                <ion-label>
                  <strong>
                    {{user.accessLevel}}
                  </strong>
                </ion-label>
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-input type="email" label="Email" label-placement="stacked" value="{{user.email}}" disabled="true">
                <ion-icon color="medium" slot="start" name="mail"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="tel" label="Contact" label-placement="stacked" value="{{user.contact}}" disabled="true">
                <ion-icon color="medium" slot="start" name="phone-portrait"></ion-icon>
              </ion-input>
            </ion-item>

          </ion-list>

          <ion-item-divider>
            <ion-label>
              <strong>
                Notification Settings
              </strong>
            </ion-label>
          </ion-item-divider>


          <ion-list lines="inset">

            <ion-item>
              <ion-label>
                <ion-icon class="ion-margin-end" slot="start" color="medium" name="notifications"></ion-icon>
                Enable Notifications
              </ion-label>
              <ion-toggle slot="end" [checked]="notificationsEnabled" (ionChange)="onToggleChange($event)"></ion-toggle>
            </ion-item>

          </ion-list>
        </ion-item-group>



      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="end">
      <ion-button size="small" color="danger" fill="clear" (click)="onClickLogout()">
        <ion-label>{{'buttons.2.label'| translate}}</ion-label>
        <ion-icon name="log-out-outline" class="ion-padding-start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>