<!-- <ion-header>
  <app-custom-header title="Animals" [isLoading]="isLoading()" searchPlaceholder="Search Animals"
    (searchEvent)="handleInput($event)">
  </app-custom-header>

  <ion-toolbar>
    <ion-title>
      <strong>{{totalCount()}}</strong> {{totalCount() === 1 ? ' Animal': ' Animals' | translate }}
    </ion-title>
    <ion-buttons slot="end">

      <ion-button color="medium" fill="clear" (click)="downloadFarmReport()" [disabled]="isGeneratingFarmReport()">
        <ion-spinner *ngIf="isGeneratingFarmReport()" slot="start"></ion-spinner>
        <ion-icon *ngIf="!isGeneratingFarmReport()" name="print" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button color="medium" fill="clear" (click)="toggleSort('tagNo')">
        <ion-label>Tag no.</ion-label>
        <ion-icon *ngIf="options.sortBy !== 'tagNo'" name="swap-vertical-outline"
          class="sort-placeholder-icon"></ion-icon>
        <ion-icon *ngIf="options.sortBy === 'tagNo'" [name]="options.sortOrder === 1 ? 'arrow-up' : 'arrow-down'"
          class="sort-active-icon"></ion-icon>
      </ion-button>

      <ion-button id="open-animal-filter" color="medium" fill="clear">
        <ion-icon slot="icon-only" name="options-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-modal #animalfilter trigger="open-animal-filter">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'Apply Filters' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label><strong>{{ 'Presets' | translate }}</strong></ion-label>
        <ion-toolbar class="ion-padding-vertical">
          <ion-buttons slot="start">
            <ion-button [fill]="activeRange === -1 ? 'solid' : 'outline'" color="medium" (click)="setRange(-1)">
              {{ 'All'| translate }}</ion-button>
            <ion-button [fill]="activeRange === 0.033 ? 'solid' : 'outline'" color="medium" (click)="setRange(0.033)">1
              {{ 'Day' | translate }}</ion-button>
            <ion-button [fill]="activeRange === 0.25 ? 'solid' : 'outline'" color="medium" (click)="setRange(0.25)">7 {{
              'Days' | translate }}</ion-button>
            <ion-button [fill]="activeRange === 1 ? 'solid' : 'outline'" color="medium" (click)="setRange(1)">1 {{
              'Month' | translate }}</ion-button>
            <ion-button fill="solid" color="warning" (click)="clearDates()">{{ 'Reset' | translate}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-label *ngIf="activeRange !== -1"><strong>{{ 'Custom Range' | translate }}</strong></ion-label>
        <ion-toolbar class="ion-padding-vertical" *ngIf="activeRange !== -1">
          <ion-buttons slot="start">
            <ion-button fill="clear" color="none">
              <ion-label><strong>From</strong></ion-label>
              <ion-datetime-button datetime="start_dt"></ion-datetime-button>
            </ion-button>
            <ion-button fill="clear" color="none">
              <ion-label><strong>Till</strong></ion-label>
              <ion-datetime-button datetime="end_dt"></ion-datetime-button>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="success" fill="solid" (click)="animalfilter.dismiss()">
              <ion-label color="light">Ok</ion-label>
            </ion-button>
            <ion-button color="medium" fill="solid" (click)="animalfilter.dismiss()">
              <ion-label color="light">Cancel</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="start_dt" presentation="date" [(ngModel)]="filter.startDate"
        [showDefaultButtons]="true" (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>
  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="end_dt" presentation="date" [(ngModel)]="filter.endDate"
        [showDefaultButtons]="true" [min]="filter.startDate" (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>

  <ion-list lines="true" *ngIf="!isLoading() && totalCount() > 0">
  
  <ion-item class="ion-padding" lines="full"
    *ngFor="let animal of results() | paginate: { itemsPerPage: options.limit, currentPage: p(), totalItems: totalCount() }"
   [routerLink]="['/', 'animals-insights', { id: animal?.id, tagNo: animal?.tagNo, deviceNo: animal?.activeTag?.deviceNo }]" button>

    <ion-img src="../../../../assets/icons/individual-cow.svg" slot="start" style="width: 40px;"></ion-img>

    <div
      style="width: 100% !important; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 8px;">

      <ion-label>
        <strong class="ion-text-uppercase">
          {{animal.tagNo}}
        </strong>
      </ion-label>
      <ion-button fill="outline" color="medium">
        <ion-icon slot="start" name="hardware-chip"></ion-icon>
        {{'list.col3'| translate}}
        <ion-label class="ion-text-uppercase">
          <strong>
            {{animal?.activeTag.deviceNo}}
          </strong>
        </ion-label>
      </ion-button>

      <ion-note color="warning" *ngIf="animal?.lastHeat?.daysAgo">
        Last Heat: {{animal?.lastHeat?.daysAgo ?? '—'}}
      </ion-note>

      <ion-note color="warning" *ngIf="animal?.lastHealth?.daysAgo">
        Last Health: {{animal?.lastHealth?.daysAgo ?? '—'}}
      </ion-note>
    </div>
  </ion-item>
  </ion-list>

  <ion-item class="ion-padding" lines="none" *ngIf="!isLoading() && results().length === 0">
    <ion-chip class="ion-padding" color="light">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label color="medium">
      <strong>
        {{ 'list.placeholder' | translate }}
      </strong>  
      </ion-label>
    </ion-chip>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!isLoading() && totalCount() > 0">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </ion-toolbar>
</ion-footer> -->


<ion-header>
  <app-custom-header title="Animals" [isLoading]="isLoading()" searchPlaceholder="Search Animals"
    (searchEvent)="handleInput($event)">
  </app-custom-header>

    <p class="ion-float-start">
      <ion-title>
        <strong>{{ totalCount() }}</strong> {{ totalCount() === 1 ? ' Animal' : ' Animals' | translate }}
      </ion-title>
    </p>

    <ion-buttons class="ion-float-end">
      <ion-button fill="clear" (click)="downloadFarmReport()" [disabled]="isGeneratingFarmReport()">
        @if (isGeneratingFarmReport()) {
          <ion-spinner slot="start"></ion-spinner>
        } @else {
          <ion-icon name="print" slot="icon-only"></ion-icon>
        }
      </ion-button>
      
      <ion-button fill="clear" (click)="toggleSort('tagNo')">
        <ion-label>Tag no.</ion-label>
        @if (options.sortBy !== 'tagNo') {
          <ion-icon name="swap-vertical-outline" class="sort-placeholder-icon"></ion-icon>
        } @else {
          <ion-icon [name]="options.sortOrder === 1 ? 'arrow-up' : 'arrow-down'" class="sort-active-icon">
          </ion-icon>
        }
      </ion-button>
      
      <ion-button id="open-animal-filter" fill="clear">
        <ion-icon slot="icon-only" name="options-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  <!-- </ion-item> -->
</ion-header>

<ion-content>
  
  <!-- Restructured Animals List -->
  <ion-list lines="full">
    @if (!isLoading() && totalCount() > 0) {
    <ion-item
      *ngFor="let animal of results() | paginate: { itemsPerPage: options.limit, currentPage: p(), totalItems: totalCount() }"
      button>

      <!-- <ion-thumbnail slot="start">
        <ion-img src="../../../../assets/icons/individual-cow.svg"></ion-img>
      </ion-thumbnail> -->

      <ion-thumbnail slot="start">
        <!-- We use a regular div instead of ion-img -->
        <!-- <div class="cow-icon-container"></div> -->
        <img src="../../../../assets/icons/health.png" />

      </ion-thumbnail>

      <ion-grid>
        <ion-row
          [routerLink]="['/', 'animals-insights', { id: animal?.id, tagNo: animal?.tagNo, deviceNo: animal?.activeTag?.deviceNo }]">
          <ion-col>

            <ion-text>
              <h4>
                <strong class="ion-text-uppercase">
                  {{animal.tagNo}}
                </strong>
              </h4>
            </ion-text>

            <p>
              <ion-text>
                <ion-icon name="hardware-chip" color="medium"></ion-icon>
              </ion-text>
              {{ animal?.activeTag?.deviceNo }}
            </p>

            @if (animal?.lastHeat?.daysAgo) {
            <p>
              <ion-text>
                <ion-icon name="time-outline"></ion-icon>
              </ion-text>
              Last Heat: {{ animal?.lastHeat?.daysAgo ?? '—' }}
            </p>
            }

            @if (animal?.lastHealth?.daysAgo) {
            <p>
              <ion-text>
                <ion-icon name="time-outline"></ion-icon>
              </ion-text>
              Last Health: {{ animal?.lastHealth?.daysAgo ?? '—' }}
            </p>
            }

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons class="ion-float-right">
              <ion-button (click)="downloadAnimalReport(animal)"
                [disabled]="isGeneratingAnimalReportId() === animal.id">
                <ion-spinner *ngIf="isGeneratingAnimalReportId() === animal.id"></ion-spinner>
                <ion-icon *ngIf="isGeneratingAnimalReportId() !== animal.id" name="download" color="medium"
                  slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    }


    @else if (!isLoading() && results().length === 0) {
    <ion-item class="ion-padding">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="alert-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ 'list.placeholder' | translate }}
      </ion-title>
    </ion-item>
    }

  </ion-list>

  <ion-modal #animalFilter trigger="open-animal-filter">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="animalFilter.dismiss()">
              <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>{{ 'Apply Filters' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item-group>

          <ion-item-divider>
            <ion-label>
              <strong>Presets</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">
            <ion-item lines="none">
              <ion-buttons slot="start">
                <ion-button [fill]="activeRange === -1 ? 'solid' : 'outline'" (click)="setRange(-1)">{{
                  'All' | translate }}</ion-button>
                <ion-button [fill]="activeRange === 0.033 ? 'solid' : 'outline'" (click)="setRange(0.033)">1 {{ 'Day' |
                  translate }}</ion-button>
                <ion-button [fill]="activeRange === 0.25 ? 'solid' : 'outline'" (click)="setRange(0.25)">7 {{ 'Days' |
                  translate }}</ion-button>
                <ion-button [fill]="activeRange === 1 ? 'solid' : 'outline'" (click)="setRange(1)">1 {{
                  'Month' | translate }}</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button fill="clear" color="warning" (click)="clearDates()">{{ 'Reset' | translate}}</ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>

          <ion-item-divider *ngIf="activeRange !== -1">
            <ion-label>
              <strong>Custom Date</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">
            <ion-item lines="none" *ngIf="activeRange !== -1">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-buttons class="ion-float-start">
                      <ion-label>From :</ion-label>
                      <ion-datetime-button datetime="start_dt"></ion-datetime-button>
                    </ion-buttons>

                    <ion-buttons class="ion-float-end">
                      <ion-label>Till :</ion-label>
                      <ion-datetime-button datetime="end_dt"></ion-datetime-button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-item>
          </ion-list>

        </ion-item-group>

      </ion-content>
      <ion-footer>
        <ion-toolbar class="ion-padding">
          <ion-buttons slot="end">
            <ion-button fill="solid" (click)="animalFilter.dismiss()">
              <ion-label>Apply</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="start_dt" presentation="date" [(ngModel)]="filter.startDate" [showDefaultButtons]="true"
        (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="end_dt" presentation="date" [(ngModel)]="filter.endDate" [showDefaultButtons]="true"
        [min]="filter.startDate" (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>


</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!isLoading() && totalCount() > 0">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </ion-toolbar>
</ion-footer>