<!-- <ion-header>
  <app-custom-header title="Dry Offs" [isLoading]="isLoading()" searchPlaceholder="Search Animals"
    (searchEvent)="handleInput($event)">
  </app-custom-header>

  <ion-toolbar>
    <ion-title>
      <strong>{{totalCount()}}</strong> {{totalCount() === 1 ? ' Animal': ' Animals' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleSort('tagNo')">
        <ion-label>Tag no.</ion-label>
        <ion-icon *ngIf="options.sortBy !== 'tagNo'" name="swap-vertical-outline"
          class="sort-placeholder-icon"></ion-icon>
        <ion-icon *ngIf="options.sortBy === 'tagNo'" [name]="options.sortOrder === 1 ? 'arrow-up' : 'arrow-down'"
          class="sort-active-icon"></ion-icon>
      </ion-button>

      <ion-button id="open-dryoff-filter" fill="clear">
        <ion-icon slot="icon-only" name="options-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" *ngIf="!isLoading() && totalCount() > 0">
    <ion-item
      *ngFor="let item of results() | paginate: { itemsPerPage: options.limit, currentPage: p(), totalItems: totalCount() }"
      button>

      <ion-thumbnail slot="start">
        <img src="../../../../../assets/icons/dryoff.png" />
      </ion-thumbnail>

      <ion-grid>
        <ion-row
          [routerLink]="['/', 'animals-insights', { id: item?.animal?.id, tagNo: item?.animal?.tagNo, deviceNo: item?.animal?.activeTag?.deviceNo }]">
          <ion-col>

            <p>
              <ion-text>
                <h4>
                  {{item.animal.tagNo}}
                </h4>
              </ion-text>
            </p>

            <p>
              <ion-text>
                <ion-icon name="timer-outline"></ion-icon>
              </ion-text>
              {{item?.occurredAt | daysSince}}
            </p>

            <p>
              <ion-text>
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-text>
              Expected Calving: {{ item.animal?.currentLactation?.expectedCalvingDate | date: 'MMM d, y, h:mm a' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="water-outline"></ion-icon>
              </ion-text>
              Days in Milk: {{ item.animal?.currentLactation?.daysInMilk || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="repeat-outline"></ion-icon>
              </ion-text>
              Lactation no. {{ item.animal?.currentLactation?.lactationNumber || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="stats-chart-outline"></ion-icon>
              </ion-text>
              Status: {{ item.animal?.currentLactation?.status || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="help-circle-outline"></ion-icon>
              </ion-text>
              Reason: {{ item?.reason || '—' }}
            </p>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item class="ion-padding" *ngIf="!isLoading() && results().length === 0">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="alert-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ 'list.placeholder' | translate }}
      </ion-title>
    </ion-item>

  </ion-list>

  <ion-modal #dryofffilter trigger="open-dryoff-filter">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="dryofffilter.dismiss()">
              <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>{{ 'Apply Filters' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item-group>

          <ion-item-divider>
            <ion-label>
              <strong>Presets</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">
            <ion-item lines="none">
              <ion-buttons slot="start">
                <ion-button [fill]="activeRange === -1 ? 'solid' : 'outline'" (click)="setRange(-1)">{{
                  'All' | translate }}</ion-button>
                <ion-button [fill]="activeRange === 0.033 ? 'solid' : 'outline'" (click)="setRange(0.033)">1 {{ 'Day' |
                  translate }}</ion-button>
                <ion-button [fill]="activeRange === 0.25 ? 'solid' : 'outline'" (click)="setRange(0.25)">7 {{ 'Days' |
                  translate }}</ion-button>
                <ion-button [fill]="activeRange === 1 ? 'solid' : 'outline'" (click)="setRange(1)">1 {{
                  'Month' | translate }}</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button fill="clear" color="warning" (click)="clearDates()">{{ 'Reset' | translate}}</ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>

          <ion-item-divider *ngIf="activeRange !== -1">
            <ion-label>
              <strong>Custom Date</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">

            <ion-item lines="none" *ngIf="activeRange !== -1">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    From: <ion-datetime-button datetime="start_dt"></ion-datetime-button>
                  </ion-col>
                  <ion-col>
                    Till: <ion-datetime-button datetime="end_dt"></ion-datetime-button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-item>
          </ion-list>

        </ion-item-group>

      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="secondary" fill="solid" (click)="dryofffilter.dismiss()">
              <ion-label color="light">Apply</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="start_dt" presentation="date" [(ngModel)]="filter.startDate"
        [showDefaultButtons]="true" (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="end_dt" presentation="date" [(ngModel)]="filter.endDate"
        [showDefaultButtons]="true" [min]="filter.startDate" (ionChange)="refresh()"></ion-datetime>
    </ng-template>
  </ion-popover>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!isLoading() && totalCount() > 0">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </ion-toolbar>
</ion-footer> -->



<ion-header>
  <app-custom-header title="Dry Offs" [isLoading]="isLoading()" searchPlaceholder="Search Animals"
    (searchEvent)="handleInput($event)">
  </app-custom-header>

  <p class="ion-float-start">
    <ion-title>
      <strong>{{ totalCount() }}</strong> {{ totalCount() === 1 ? ' Animal' : ' Animals' | translate }}
    </ion-title>
  </p>
  <ion-buttons class="ion-float-end">
    <ion-button fill="clear" (click)="toggleSort('tagNo')">
      <ion-label>Tag no.</ion-label>
      <ion-icon *ngIf="options.sortBy !== 'tagNo'" name="swap-vertical-outline" class="sort-placeholder-icon">
      </ion-icon>
      <ion-icon *ngIf="options.sortBy === 'tagNo'" [name]="options.sortOrder === 1 ? 'arrow-up' : 'arrow-down'"
        class="sort-active-icon">
      </ion-icon>
    </ion-button>

    <ion-button id="open-dryoff-filter" fill="clear">
      <ion-icon slot="icon-only" name="options-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-list lines="full">
    @if (!isLoading() && totalCount() > 0) {

    <ion-item
      *ngFor="let item of results() | paginate: { itemsPerPage: options.limit, currentPage: p(), totalItems: totalCount() }"
      button>

      <ion-thumbnail slot="start">
        <img src="../../../../../assets/icons/dryoff.png" alt="Dry Off Icon" />
      </ion-thumbnail>

      <ion-grid>
        <ion-row
          [routerLink]="['/', 'animals-insights', { id: item?.animal?.id, tagNo: item?.animal?.tagNo, deviceNo: item?.animal?.activeTag?.deviceNo }]">
          <ion-col>

            <ion-text>
              <h4>
                <strong class="ion-text-uppercase">
                  {{item.animal.tagNo}}
                </strong>
              </h4>
            </ion-text>

            <p>
              <ion-text>
                <ion-icon name="timer-outline"></ion-icon>
              </ion-text>
              {{ item?.occurredAt | daysSince }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-text>
              Expected Calving: {{ item.animal?.currentLactation?.expectedCalvingDate | date: 'MMM d, y, h:mm a' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="water-outline"></ion-icon>
              </ion-text>
              Days in Milk: {{ item.animal?.currentLactation?.daysInMilk || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="repeat-outline"></ion-icon>
              </ion-text>
              Lactation no. {{ item.animal?.currentLactation?.lactationNumber || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="stats-chart-outline"></ion-icon>
              </ion-text>
              Status: {{ item.animal?.currentLactation?.status || '—' }}
            </p>

            <p>
              <ion-text>
                <ion-icon name="help-circle-outline"></ion-icon>
              </ion-text>
              Reason: {{ item?.reason || '—' }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    }

    @else if (!isLoading() && results().length === 0) {
    <ion-item class="ion-padding" style="margin: auto;">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ 'list.placeholder' | translate }}
      </ion-title>
    </ion-item>
    }
  </ion-list>

  <!-- Filter Modal -->
  <ion-modal #dryofffilter trigger="open-dryoff-filter">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="dryofffilter.dismiss()">
              <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ 'Apply Filters' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item-group>
          <ion-item-divider>
            <ion-label>
              <strong>Presets</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">
            <ion-item lines="none">
              <ion-buttons slot="start">
                <ion-button [fill]="activeRange === -1 ? 'solid' : 'outline'" (click)="setRange(-1)">
                  {{ 'All' | translate }}
                </ion-button>
                <ion-button [fill]="activeRange === 0.033 ? 'solid' : 'outline'" (click)="setRange(0.033)">
                  1 {{ 'Day' | translate }}
                </ion-button>
                <ion-button [fill]="activeRange === 0.25 ? 'solid' : 'outline'" (click)="setRange(0.25)">
                  7 {{ 'Days' | translate }}
                </ion-button>
                <ion-button [fill]="activeRange === 1 ? 'solid' : 'outline'" (click)="setRange(1)">
                  1 {{ 'Month' | translate }}
                </ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button fill="clear" color="warning" (click)="clearDates()">
                  {{ 'Reset' | translate }}
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>

          <ion-item-divider *ngIf="activeRange !== -1">
            <ion-label>
              <strong>Custom Date</strong>
            </ion-label>
          </ion-item-divider>

          <ion-list lines="inset">

            <ion-item lines="none" *ngIf="activeRange !== -1">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-buttons class="ion-float-start">
                      <ion-label>From :</ion-label>
                      <ion-datetime-button datetime="start_dt"></ion-datetime-button>
                    </ion-buttons>

                    <ion-buttons class="ion-float-end">
                      <ion-label>Till :</ion-label>
                      <ion-datetime-button datetime="end_dt"></ion-datetime-button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-item>

          </ion-list>
        </ion-item-group>
      </ion-content>

      <ion-footer>
        <ion-toolbar class="ion-padding">
          <ion-buttons slot="end">
            <ion-button fill="solid" (click)="dryofffilter.dismiss()">
              <ion-label>Apply</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <!-- Date Popovers -->
  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="start_dt" presentation="date" [(ngModel)]="filter.startDate" [showDefaultButtons]="true"
        (ionChange)="refresh()">
      </ion-datetime>
    </ng-template>
  </ion-popover>

  <ion-popover [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="end_dt" presentation="date" [(ngModel)]="filter.endDate" [showDefaultButtons]="true"
        [min]="filter.startDate" (ionChange)="refresh()">
      </ion-datetime>
    </ng-template>
  </ion-popover>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!isLoading() && totalCount() > 0">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </ion-toolbar>
</ion-footer>