ion-content {
  .outer-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    overflow-y: scroll !important;
    overflow-x: unset !important;

    .background-picture {
      width: 100% !important;
      height: 100% !important;
      padding: 1rem;

      img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 4px;
        border: 2px solid #eee;
        border-radius: 25px/50px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-self: center;
      width: 100% !important;
      padding: 1rem;
     
      // -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      .brand-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        img {
          height: 50px;
          width: 50px;
          aspect-ratio: 16/9;
          border-radius: 4px;
          // border: 2px solid #eee;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        }
      }

      ion-input.custom {
        --background: #eee;
        --placeholder-opacity: 0.3;
        font-weight: bold;

        ion-icon {
          margin: 5px 5px 5px 0 !important;
        }
      }
    }
  }
}


ion-grid {
  padding: 0 !important;
  margin: 0 !important;

  ion-row {
    padding: 0 !important;
    margin: 0 !important;

    ion-col {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}