<ion-content [scrollEvents]="true">
  <!-- <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar> -->

  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content style="box-shadow: none !important;"></ion-refresher-content>
  </ion-refresher> -->

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div class="blur-bg" [class.loading-content]="isLoading">
    <ion-grid class="grid-2">

      <!-- <ion-row>
        <ion-col>
          <app-selection></app-selection>
      </ion-col>
    </ion-row> -->

      <ion-row class="row-1 ion-margin">
        <ion-col>

          <ion-toolbar class="ion-padding-top card-header" style="border-radius: 10px 10px 0px 0px;">
            <ion-item lines="none">
              <ion-img style="margin-right: 8px; height: 32px; width: 32px; aspect-ratio: 1/1;"
                src="../../../assets/icons/favicon.png"></ion-img>
              <ion-label color="dark" style="font-weight: bold !important;">
                <h1 style="font-weight: bold !important;">
                  {{'home.sections.1.title'| translate}}
                </h1>
              </ion-label>
            </ion-item>
          </ion-toolbar>

          <div class="div-1">
            <div class="square-btn ion-activatable ripple-parent" routerLink="/heats">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../../assets/icons/estrus.png"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalHeats | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page3' | translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/healths">
              <ion-ripple-effect></ion-ripple-effect>
              <!-- <ion-img
                src="../../../assets/event-icons/pulse_alert_100dp_BB271A_FILL1_wght700_GRAD200_opsz48.svg"></ion-img> -->
              <ion-img src="../../../../assets/icons/health.png"></ion-img>

              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalHealths | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page2' | translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/animals">
              <ion-ripple-effect></ion-ripple-effect>
              <!-- <ion-img src="../../../assets/icons/favicon.png"></ion-img> -->
              <ion-img src="../../../../assets/icons/favicon.png"></ion-img>

              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalAnimals | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page1' | translate}}</h4>
            </div>

            <div class="square-btn ion-activatable ripple-parent" routerLink="/dairy"
              style="background: mediumpurple !important;">
              <ion-ripple-effect></ion-ripple-effect>
              <h1 class="value"
                style="font-weight: bolder !important; font-size: small !important; color: var(--ion-color-light) !important;">
                {{'home.items.1.label'| translate}}</h1>
              <h4 class="label"
                style="font-weight: bolder !important; font-size: small !important; color: var(--ion-color-light) !important;">
                {{'home.items.2.label'| translate}}
              </h4>
            </div>
          </div>

        </ion-col>
      </ion-row>

      <ion-row class="row-1 ion-margin">
        <ion-col>

          <ion-toolbar class="ion-padding-top card-header" style="border-radius: 10px 10px 0px 0px;">
            <ion-item lines="none">
              <ion-img style="margin-right: 8px; height: 32px; width: 32px; aspect-ratio: 1/1;"
                src="../../../assets/icons/cycle_24dp_5F5F5F_FILL0_wght700_GRAD0_opsz48.svg"></ion-img>
              <ion-label color="dark" style="font-weight: bold !important;">
                <h1 style="font-weight: bold !important;">
                  {{'home.sections.2.title'| translate}}
                </h1>
              </ion-label>
            </ion-item>
          </ion-toolbar>

          <div class="div-1">

            <div class="square-btn ion-activatable ripple-parent" routerLink="/events"
              style="background: orange !important;">
              <ion-ripple-effect></ion-ripple-effect>
              <h1 class="value"
                style="font-weight: bolder !important; font-size: small !important; color: var(--ion-color-light) !important;">
                {{'home.items.3.label'| translate}}</h1>
              <h4 class="label"
                style="font-weight: bolder !important; font-size: small !important; color: var(--ion-color-light) !important;">
                {{'home.items.4.label'| translate}}
              </h4>
            </div>

            <div class="square-btn ion-activatable ripple-parent" routerLink="/recoveries">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img
                src="../../../assets/event-icons/vaccines_100dp_8C1AF6_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalRecoveries | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page6'| translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/inseminations">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/update_100dp_78A75A_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalInseminations | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page7'| translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/pregnancies">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img
                src="../../../assets/event-icons/fertile_100dp_9B5278_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalPregnancies | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page8'| translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/dryoffs">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img
                src="../../../assets/event-icons/cool_to_dry_100dp_5F5F5F_FILL0_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalDryoffEvents | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page10'| translate}}</h4>
            </div>
            <div class="square-btn ion-activatable ripple-parent" routerLink="/calvings">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/cake_100dp_F9DB78_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalCalvings | countUp | async }}
                </span>
              </h1>
              <h4 class="label">{{'app.page9'| translate}}</h4>
            </div>
            <!-- 
            <div class="square-btn ion-activatable ripple-parent" routerLink="/devices">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/update_100dp_78A75A_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalInseminations | countUp | async }}
                </span>
              </h1>
              <h4 class="label">Devices</h4>
            </div>


            <div class="square-btn ion-activatable ripple-parent" routerLink="/reproductions">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/update_100dp_78A75A_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalInseminations | countUp | async }}
                </span>
              </h1>
              <h4 class="label">Reproductions</h4>
            </div>

                        <div class="square-btn ion-activatable ripple-parent" routerLink="/lactations">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/update_100dp_78A75A_FILL1_wght700_GRAD200_opsz48.svg"></ion-img>
              <h1 class="value">
                <span class="count-display">
                  {{ (counts$ | async)?.totalInseminations | countUp | async }}
                </span>
              </h1>
              <h4 class="label">Lactations</h4>
            </div> -->

            <!-- <div class="square-btn ion-activatable ripple-parent" (click)="onClickMilking()">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-img src="../../../assets/event-icons/scale_24dp_5F5F5F_FILL0_wght700_GRAD0_opsz48.svg"></ion-img>
              <h1 class="value">{{milking_count}}</h1>
              <h4 class="label">{{'Milking' | translate}}</h4>
            </div> -->
          </div>

        </ion-col>
      </ion-row>

      <!-- <ion-row class="row-3">
        <ion-col>

          <ion-toolbar class="ion-padding-top card-header" style="border-radius: 10px 10px 0px 0px;">
            <ion-item lines="none">
              <ion-img style="margin-right: 8px; height: 32px; width: 32px; aspect-ratio: 1/1;"
                src="../../../assets/icons/grocery_24dp_5F5F5F_FILL0_wght700_GRAD0_opsz48.svg"></ion-img>
              <ion-label color="dark">
                <h1 style="font-weight: bold !important;">
                  {{'home.sections.3.title'| translate}}
                </h1>
              </ion-label>
            </ion-item>
          </ion-toolbar>
      
          <ion-modal id="example-modal" ref="modal" #modal trigger="open-milk-entry" show-backdrop="true">
            <ng-template>

              <ion-header>
                <form [formGroup]="milkEntryForm" (ngSubmit)="onSubmitMilkEntry()">
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button color="none" fill="clear" strong="true" routerDirection="back"
                        (click)="modal.dismiss() && clearEntries()">
                        <ion-icon slot="icon-only" aria-hidden="true" name="arrow-back"></ion-icon>
                      </ion-button>
                    </ion-buttons>

                    <ion-title>{{'charts.2.title'| translate}}</ion-title>

                  </ion-toolbar>
                </form>
              </ion-header>

              <ion-content class="ion-padding">

                <form [formGroup]="milkEntryForm" (ngSubmit)="onSubmitMilkEntry()">
                  <ion-list>

                    <ion-item>
                      <ion-label position="stacked" style="margin-bottom: 8px">{{'datetime.3.label'|
                        translate}}</ion-label>
                      <ion-datetime-button datetime="datetime">
                      </ion-datetime-button>
                    </ion-item>
                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime presentation="date" id="datetime" (ionChange)="onSelectMilkingDate($event)"
                          [showClearButton]="true" [showDefaultButtons]="true" [max]="maxDate"></ion-datetime>
                      </ng-template>
                    </ion-modal>

                    <ion-item>
                      <ion-input label="{{'list.inputs.8.label'| translate}}" labelPlacement="stacked"
                        placeholder="{{'list.inputs.8.placeholder'| translate}}" type="text"
                        [value]="selectedCattle['collar']?.['collarId']"
                        (ionInput)="handleMilkEntryInput($event)"></ion-input>
                    </ion-item>

                    <ion-list *ngIf="!isLoading && results.length > 0" style="max-height: 300px; overflow: scroll;">
                      <ion-item *ngFor="let data of results" (click)="selectOption(data)">
                        <ion-label>
                          <h3>{{'Tag no.'| translate}} {{ data.name }}</h3>
                          <h3>{{'Collar no.'| translate}} {{ data.collar.collarId }}</h3>
                        </ion-label>
                      </ion-item>
                    </ion-list>

                    <ion-item lines="none">
                      <div class="milk-inputs-section">
                        <ion-input color="dark" label="{{'charts.2.inputs.1.label'| translate}}"
                          labelPlacement="stacked" formControlName="morningVolume" type="number"
                          inputmode="number"></ion-input>
                        <ion-input color="dark" label="{{'charts.2.inputs.2.label'| translate}}"
                          labelPlacement="stacked" formControlName="noonVolume" type="number"
                          inputmode="number"></ion-input>
                        <ion-input color="dark" label="{{'charts.2.inputs.3.label'| translate}}"
                          labelPlacement="stacked" formControlName="eveningVolume" type="number" inputmode="number">
                        </ion-input>
                      </div>
                    </ion-item>

                    <ion-item lines="none">
                      <div slot="end" style="display: flex; align-items: center; justify-content: flex-end; gap: 1rem;">
                        <ion-label>{{'charts.2.inputs.4.label'| translate}}</ion-label>
                        <ion-chip class="ion-padding-horizontal" style="border-radius: 6px;">
                          <ion-label>{{ totalMilkVolume$ | async}} </ion-label>
                        </ion-chip>
                        <ion-label>{{'charts.2.inputs.5.label'| translate}}</ion-label>

                        <ion-button color="light" expand="block" fill="clear" (click)="clearEntries()">
                          <ion-label color="dark">{{'buttons.7.label'| translate}}</ion-label>
                          <ion-icon name="refresh-circle" aria-hidden="true" style="margin-left: 8px"
                            color="dark"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-item>

                  </ion-list>


                </form>
              </ion-content>

              <ion-footer>
                <form [formGroup]="milkEntryForm" (ngSubmit)="onSubmitMilkEntry()">
                  <ion-item lines="none">
                    <ion-button slot="end" color="success" expand="block" shape="round" fill="solid" type="submit">
                      <ion-label color="light"> {{'buttons.5.label'| translate}} </ion-label>
                      <ion-icon name="create" aria-hidden="true" style="margin-left: 8px" color="light"></ion-icon>
                    </ion-button>
                  </ion-item>
                </form>
              </ion-footer>
            </ng-template>
          </ion-modal>

          <div class="div-3">
            <div style="width: 100%; height: auto; grid-column: 1/ span 2; padding: 0 1rem;">
              <canvas id="myChart" #myChart>{{ chart }}</canvas>
            </div>

            <div class="milk-production-dashboard" *ngIf="milk_target.numCows >= 1">
              <ion-chip class="ion-padding" style="background: #eee;">
                <ion-label>
                  <h2>
                    {{'charts.2.inputs.6.label'| translate}}
                  </h2>
                  <h3 style="font-weight: bolder;">
                    {{ milk_target.totalMilk +" Liters"}}
                  </h3>
                </ion-label>
              </ion-chip>
              <ion-chip class="ion-padding" style="background: #eee;">
                <ion-label>
                  <h2>
                    {{'charts.2.inputs.7.label'| translate}}
                  </h2>
                  <h3 style="font-weight: bolder;">
                    {{ milk_target.numCows }}
                  </h3>
                </ion-label>
              </ion-chip>
              <ion-chip class="ion-padding" style="background: #eee;">
                <ion-label>
                  <h2>
                    {{'charts.2.inputs.8.label'| translate}}
                  </h2>
                  <h3 style="font-weight: bolder;">
                    {{ milk_target.avgMilkPerCow +" Liters"}}
                  </h3>
                </ion-label>
              </ion-chip>
              <ion-chip class="ion-padding" style="background: #eee;">
                <ion-label>
                  <h2>
                    {{'charts.2.inputs.9.label'| translate}}
                  </h2>
                  <h3 style="font-weight: bolder;">
                    {{ milk_target.efficiency | number:'1.2-2'}}%
                  </h3>
                </ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>
      </ion-row> -->

      <ion-row class="row-3">
        <ion-col>

          <ion-toolbar class="ion-padding-top card-header" style="border-radius: 10px 10px 0px 0px;">
            <ion-item lines="none">
              <ion-img style="margin-right: 8px; height: 32px; width: 32px; aspect-ratio: 1/1;"
                src="../../../assets/icons/grocery_24dp_5F5F5F_FILL0_wght700_GRAD0_opsz48.svg"></ion-img>
              <ion-label color="dark">
                <h1 style="font-weight: bold !important;">
                  {{'home.sections.3.title'| translate}}
                </h1>
              </ion-label>
            </ion-item>
            <ion-buttons slot="end">
              <ion-button fill="outline" shape="round" color="secondary" (click)="openDairyModal('create')">
                <ion-icon name="add"></ion-icon>
                <ion-label>New Entry</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <!-- @if (!isLoading() && processedMilkingEvents.length > 0) {

            <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="time-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment [scrollable]="true" [value]="selectedPreset">
      <ion-segment-button [class.active-btn]="selectedPreset === '1day'" value="1day" (click)="onPresetChange('1day')">
        <strong style="text-transform: capitalize;">
          1 day
        </strong>
      </ion-segment-button>
      <ion-segment-button [class.active-btn]="selectedPreset === '7days'" value="7days"
        (click)="onPresetChange('7days')">
        <strong style="text-transform: capitalize;">
          7 days
        </strong>
      </ion-segment-button>
      <ion-segment-button [class.active-btn]="selectedPreset === '30days'" value="30days"
        (click)="onPresetChange('30days')">
        <strong style="text-transform: capitalize;">
          30 days
        </strong>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
  <ion-card class="ion-no-padding ion-no-margin" style="background: white; padding: 2rem 0;">
    <div style="position: relative; width: 100%; aspect-ratio: 1/1;">
      <canvas #milkingChartCanvas></canvas>
    </div>
  </ion-card>
} -->



          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button disabled>
                <ion-icon name="time-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-segment [scrollable]="true" [value]="selectedPreset">
              <ion-segment-button [class.active-btn]="selectedPreset === '1day'" value="1day"
                (click)="onPresetChange('1day')">
                <strong style="text-transform: capitalize;">1 day</strong>
              </ion-segment-button>
              <ion-segment-button [class.active-btn]="selectedPreset === '7days'" value="7days"
                (click)="onPresetChange('7days')">
                <strong style="text-transform: capitalize;">7 days</strong>
              </ion-segment-button>
              <ion-segment-button [class.active-btn]="selectedPreset === '30days'" value="30days"
                (click)="onPresetChange('30days')">
                <strong style="text-transform: capitalize;">30 days</strong>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>

          <ion-card class="ion-no-padding ion-no-margin"
            style="background: white; padding: 2rem 0; position: relative;">

            <!-- Loading Overlay: Prevents layout shifts while fetching new data -->
            @if (isLoading()) {
            <div
              style="position: absolute; inset: 0; z-index: 10; background: rgba(255, 255, 255, 0.75); display: flex; align-items: center; justify-content: center; backdrop-filter: blur(2px);">
              <ion-spinner name="crescent" color="primary"></ion-spinner>
            </div>
            }

            <!-- Canvas Container: Stays mounted in the DOM permanently -->
            <div style="position: relative; width: 100%; aspect-ratio: 1/1;" [style.opacity]="isLoading() ? 0.4 : 1">
              <canvas #milkingChartCanvas></canvas>
            </div>

            <!-- Empty State Placeholder (when no events exist and not loading) -->
            @if (!isLoading() && processedMilkingEvents.length === 0) {
            <div style="position: absolute; inset: 0; display: flex; align-items: center; justify-content: center;">
              <p class="text-muted">{{ 'No milking data available' | translate }}</p>
            </div>
            }
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <ion-toolbar color="light" class="ion-padding">
    <ion-item color="light" lines="none">
      <ion-chip class="ion-padding" color="dark"
        style="padding: 2rem !important; width: 100%; display: flex; align-items: center; justify-content: flex-start; gap: 10px;">
        <ion-avatar>
          <ion-img aria-hidden="true" src="../../assets/icons/fd.png"
            style="height: auto; width: auto; aspect-ratio: 1/1 !important;"></ion-img>
        </ion-avatar>
        <ion-label color="medium" style="font-weight: bolder;">
          <h2>
            <strong>
              {{ 'app.welcome-msg' | translate }}
            </strong>
          </h2>
        </ion-label>
      </ion-chip>
    </ion-item>
  </ion-toolbar>

  <ion-footer>
    <ion-toolbar></ion-toolbar>
  </ion-footer>
</ion-content>