<ion-content slot="fixed" [fullscreen]="false">

   <ion-thumbnail style="margin: auto; --size: 140px; --border-radius: 14px;">
                <img alt="Flixdrop-Logo" src="../../assets/icons/fd.png"/>
              </ion-thumbnail>

  <div class="outer-div">
    <picture class="background-picture">
      <source srcset="../../assets/images/login-background.jpg" media="(max-width: 767px)">
      <source srcset="../../assets/images/login-background.jpg" media="(min-width: 768px) and (max-width: 1023px)">
      <img src="../../assets/images/login-background.jpg" alt="Login Background">
    </picture>

    <ion-grid>
      <ion-row>
        <ion-col>
          <form *ngIf="authMode() === 'LOGIN'" [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
        
            <ion-list lines="none">
              <ion-item class="ion-margin-vertical">
                <ion-input class="custom" id="username" label="{{ 'login.inputs.1.label' | translate }}"
                  label-placement="stacked" fill="solid" placeholder="{{ 'login.inputs.1.placeholder' | translate }}"
                  formControlName="username" [clearInput]="true" [counter]="true" [maxlength]="25"
                  [helperText]="'login.inputs.1.helper-text' | translate"
                  [errorText]="'login.inputs.1.error-text' | translate">
                  <ion-icon color="medium" size="large" slot="start" name="id-card-outline" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-item>
              <ion-item class="ion-margin-vertical">
                <ion-input type="{{passwordVisible() ? 'text': 'password'}}" class="custom" id="password"
                  label="{{ 'login.inputs.2.label' | translate }}" label-placement="stacked" fill="solid"
                  placeholder="{{ 'login.inputs.2.placeholder' | translate }}" formControlName="password"
                  [counter]="true" [maxlength]="25" [helperText]="'login.inputs.2.helper-text' | translate"
                  [errorText]="'login.inputs.2.error-text' | translate">
                  <ion-icon color="medium" size="large" slot="start" name="key-outline" aria-hidden="true"></ion-icon>
                  <ion-icon size="small" color="medium" slot="end" (click)="showPassword()"
                    name="{{passwordVisible() ? 'eye': 'eye-off'}}"></ion-icon>
                </ion-input>
              </ion-item>
              <ion-toolbar class="ion-margin-horizontal">
                <ion-checkbox slot="start" justify="start" [checked]="keepMeLoggedIn() === true"
                  (ionChange)="onClickRememberMe($event)" style="font-weight: bold;">
                  {{ 'login.radios.1.label' | translate }}
                </ion-checkbox>
              </ion-toolbar>
              <ion-toolbar>
                <ion-button id="forgot-pwd" color="primary" fill="clear" slot="start" (click)="switchMode('FORGOT')">
                  <ion-label style="text-transform: capitalize; font-weight: bold;">
                    {{ 'Forgot Password' | translate }}
                  </ion-label>
                  <ion-icon name="help-circle"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-list>
          </form>


          <form *ngIf="authMode() === 'FORGOT'" [formGroup]="forgotForm" (ngSubmit)="onClickForgot()">
            <fieldset style="border: none !important;">
              <legend style="color: goldenrod; font-weight: bold; font-size: 1.2rem; margin-bottom: 12px;">Recover
                Password
              </legend>
              <p style="color: var(--ion-color-light); font-size: 0.9rem; font-weight: bold; padding: 0 8px;">Enter your
                system identifier
                below. We will push a single cryptographic validation token payload downstream.</p>

              <ion-item lines="none" class="field-item">
                <div class="field-row">
                  <ion-icon size="large" name="search-sharp" style="color: goldenrod; margin-right: 8px;"></ion-icon>
                  <ion-input label="Account Identifier" label-placement="stacked" type="text"
                    placeholder="Username, Email or Mobile" formControlName="identifier"
                    [clearInput]="true"></ion-input>
                </div>
              </ion-item>

              <div class="action-row">
                <ion-button fill="solid" (click)="switchMode('LOGIN')">
                  <ion-label style="text-transform: capitalize !important;">
                    <h4><b>Cancel</b></h4>
                  </ion-label>
                </ion-button>
                <ion-button type="submit" color="warning" [disabled]="!forgotForm.valid">
                  <ion-label color="dark">
                    <h3><b>Send Code</b></h3>
                  </ion-label>
                  <ion-icon slot="end" name="paper-plane-sharp" color="dark"></ion-icon>
                </ion-button>
              </div>
            </fieldset>
          </form>

          <form *ngIf="authMode() === 'RESET'" [formGroup]="resetForm" (ngSubmit)="onClickReset()">
            <fieldset style="border: none !important;">
              <legend style="color: silver; font-weight: bold; font-size: 1.2rem; margin-bottom: 12px;">Set New Password
              </legend>

              <ion-item lines="none" class="field-item">
                <div class="field-row">
                  <ion-icon size="large" name="keypad-sharp" style="color: silver; margin-right: 8px;"></ion-icon>
                  <ion-input label="Recovery Token" label-placement="stacked" type="text"
                    placeholder="Paste Token From SMS/Console" formControlName="token" [clearInput]="true"></ion-input>
                </div>
              </ion-item>

              <ion-item lines="none" class="field-item">
                <div class="field-row">
                  <ion-icon size="large" name="lock-open-sharp" style="color: silver; margin-right: 8px;"></ion-icon>
                  <ion-input label="New Password" label-placement="stacked" type="password"
                    placeholder="Define New Secure Key" formControlName="newPassword"></ion-input>
                </div>
              </ion-item>

              <div class="action-row">
                <ion-button fill="clear" (click)="switchMode('LOGIN')">
                  <ion-label style="text-transform: capitalize !important;">
                    <h4><b>Abandone</b></h4>
                  </ion-label>
                </ion-button>
                <ion-button type="submit" color="danger" [disabled]="!resetForm.valid">
                  <ion-label color="light">
                    <h3><b>Save changes</b></h3>
                  </ion-label>
                  <ion-icon slot="end" name="save-sharp"></ion-icon>
                </ion-button>
              </div>
            </fieldset>
          </form>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
    <ion-toolbar class="ion-padding">
      <ion-button slot="end" type="submit" color="success" fill="solid">
        <ion-label style="color: var(--ion-color-light);">
        <strong>
          {{ 'login.buttons.1.label' | translate}}
        </strong>
        </ion-label>
        <ion-icon name="log-in" style="color: var(--ion-color-light);"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>